flow.json
[
    {
        "id": "b5a275c5.ee47a8",
        "type": "tab",
        "label": "PrimerPreyecto",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d9e5d9.c9d86a28",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "grupounoiot",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "93f77276.b030a",
        "type": "inject",
        "z": "b5a275c5.ee47a8",
        "name": "simularJson",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperatura\":23,\"humedad\":70}",
        "payloadType": "json",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "23d4ad84.17add2"
            ]
        ]
    },
    {
        "id": "485425af.26beac",
        "type": "debug",
        "z": "b5a275c5.ee47a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 260,
        "wires": []
    },
    {
        "id": "c24f6978.9b5428",
        "type": "mysql",
        "z": "b5a275c5.ee47a8",
        "mydb": "d9e5d9.c9d86a28",
        "name": "registrosensor",
        "x": 380,
        "y": 200,
        "wires": [
            [
                "485425af.26beac"
            ]
        ]
    },
    {
        "id": "23d4ad84.17add2",
        "type": "function",
        "z": "b5a275c5.ee47a8",
        "name": "insertSql",
        "func": "temperatura = msg.payload.temperatura; \nhumedad = msg.payload.humedad; \nmsg.topic = \"insert into registrosensor (id, temperatura , humedad, fecha) values (default,\" + temperatura + \",\" + humedad + \",\" + \"CURRENT_TIMESTAMP\"+ \")\"; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 240,
        "y": 120,
        "wires": [
            [
                "c24f6978.9b5428"
            ]
        ]
    }
]